body{
background: linear-gradient(#ffffff,#a2a2a2);

}

#container {
width: 600px;
border: 14px ridge #A2A2A2;
border-radius: 0px 40px 0px 0px;
padding:auto;
margin:auto;



  
}

h4 {font-size: 24px;
  font-family: arial;
color:#282828;
  }

h3 {font-size: 30;
font-family:sans;
color:#282828;
text-decoration: underline;
  margin-left: 1em;

}

#content-contact {border-bottom-style: solid;}
 

#content-info

#content-body

#content-summary 

h6 {margin: auto;
   color: #6d6c6c;
   font-family: arial;}

#pic

#content-summarycontent

#content-work 


#content-workheader

#content-threesquares

#block-date

#date 

#block-content

#content-McDonalds

li {
    
    margin-left: 1em;
 
    
}

ul {
  list-style: circle outside none;
    margin: 1em;
   color: #161616;
    font-family: verdana;
}
h1 {font-family: arial;
   
    text-decoration: underline;
    font-size: 50px;
    padding: 10px;}
p {margin-left: 1em;
  margin-top: 1em;
   color: #6b6b6b;
   font-family: verdana;
    line-height: 30px;}
h5 {margin: auto;
  text-decoration: underline;
  font-size: 40px;
    }
