p {
  color: red;
  font-family: Palatino, 'Palatino Linotype', serif;
}

.main {background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwMrHlUrZlDs4CUNgXziqTRjBhgphQar_148WegJQf_eax1e2P");
background-size: 2560px × 1600px;
}

h1 {
  color: rgb(32,54,15);
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 60px;
}

h2 {
  color: rgb(76,10,10);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

h3 {
  color: rgb(7,100,1);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 30px;
}

h4 {
  color: rgb(76,10,5);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 25px;
  
}


li {
   color: rgb(6,10,10);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
