body{
background: linear-gradient(#ffffff,#a2a2a2);
text-align: center;
}

#container{
width: 900px;
border: 14px ridge #A2A2A2;
border-radius: 0px 40px 0px 0px;
float: right;

  
}

#content-contact

#content-info

#content-body

#content-summary

#pic

#content-summarycontent

#content-work

#content-workheader

#content-threesquares

#block-date

#date

#block-content

#content-McDonalds
